<div class="container">
    <div class="container">{{> Heading tag='h1' label='Вход'}}
        <form class="login-form">
            {{> Input label='Логин'}}
            {{> Input label='Пароль'}}
            {{> Button type='submit' label='Авторизация'}}
        </form>
    </div>
    {{> Link label='Нет аккаунта?'}}
</div>