<div class="login-container">
    {{> Heading tag='h1' label='Вход'}}
    <form class="login-form">
        <div class="login-inputs">
            {{> Input variant="blue" type='text' name='login' label='Логин'}}
            {{> Input variant="blue" type='password' name='password' label='Пароль'}}
        </div>
        {{> Button color="light" type="submit" label="Авторизация"}}
    </form>
    {{> Link label='Нет аккаунта?'}}
</div>