<div class="input">
    <label class="input__container">
        <div class="input__label">{{label}}</div>
        <input
                class="input__element"
                placeholder=""
        />
    </label>
</div>
