<div class="container">
    <form class="login-form">
        {{> Input label='Login'}}
        {{> Input label='Password'}}
        {{> Button type='button_submit' label='Sign in'}}
        {{> Button label='Sign up'}}
    </form>
</div>