<nav class="nav-container">
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/auth">Auth</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/messenger">Messenger</a></li>
        <li><a href="/notFound">404</a></li>
        <li><a href="/error">500</a></li>
    </ul>
</nav>
